<router-outlet></router-outlet>
<!-- <router-outlet *ngIf="fullLayout"></router-outlet>
<div *ngIf="!fullLayout" class="container-fluid p-h-0 p-v-20 h-100 bg" style="background-image: url('assets/images/others/login-3.png')">
  <div class="d-flex flex-column justify-content-center h-100">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div> -->