<div class="container-fluid p-h-0 p-v-20 h-100 bg" style="background-image: url('assets/images/others/login-3.png')">
  <div class="d-flex flex-column justify-content-center h-100">  
    <div class="d-none d-md-block"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <nz-card class="shadow-lg">
            <div class="d-flex align-items-center justify-content-between m-b-30">
              <h2 class="mc-h2 color-darkest m-b-0">Forgot Password?</h2>
              <img class="img-fluid" alt="" src="assets/images/logo/logo-40x40.png">
            </div>
            <form nz-form [formGroup]="forgotPasswordForm" nzLayout="vertical" class="login-form" #ngForm="ngForm"
              (ngSubmit)="submitForm()">
              <nz-form-item>
                <nz-form-label nzFor="email">Email</nz-form-label>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixUser">
                    <input type="text" nz-input formControlName="email" placeholder="Email" />
                  </nz-input-group>
                  <label class="text-danger"
                    *ngIf="ngForm.submitted&&forgotPasswordForm.get('email').errors?.required">Please enter an email address linked to your account</label>
                  <label class="text-danger"
                    *ngIf="ngForm.submitted&&forgotPasswordForm.get('email').dirty&&forgotPasswordForm.get('email').errors?.email&&!forgotPasswordForm.get('email').errors?.required">
                    Email is not correct!
                  </label>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <div class="d-flex align-items-center justify-content-between">
                    <!-- <span class="font-size-13 text-muted">Don't have an account? <a class="small"
                        [routerLink]="['/signup']"> Signup</a></span> -->
                    <button nz-button class="mc-btn mc-btn-secondary" [nzType]="'default'" style="width: 100%;"
                      [nzLoading]="loading">Send instructions</button>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
          </nz-card>
        </div>
      </div>
    </div>
  </div>  
</div>  
      
