<nz-card class="p-2">
  <div class="d-flex justify-content-center flex-column">
    <i nz-icon nzType="heart" nzTheme="fill" class="m-b-20"></i>
    <h4 class="text-center m-b-10">Earn Free Credit</h4>
    <p class="text-center m-b-20">It is a long established fact that a reader will be distracted by the readable
      content of
      a page when looking
      at its
      layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
      opposed to using
      'Content here, content here'
    </p>
    <div class="text-center">
      <button nz-button nzType="default" class="custom-btn">Learn More</button>
    </div>
  </div>
</nz-card>
