<div class="col-12 px-0 p-b-20">
  <div class="d-flex m-b-5">
    <label *ngIf="to.label && !to.hideLabel" class="flex-grow-1 mc-p normal color-darker" [attr.for]="id">
      {{ label }}
      <span *ngIf="to.required && to.hideRequiredMarker !== true" class="text-danger">*</span>
    </label>
    <label *ngIf="to.maxLength"
      class="color-darker font-size-12 p-t-5">{{model[''+key]?model[''+key].length:0}}/{{to.maxLength}}
    </label>
  </div>
  <small *ngIf="to.description" class="text-muted">{{ to.description }}</small>
  <ng-template #fieldComponent></ng-template>
  <div *ngIf="showError && options.parentForm.submitted" class="mc-p small text-danger m-t-5">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
</div>