.highlight {
  a {
    font-weight: bolder;
  }
}

// .ant-menu-root {
  // height: 84%;
// }

.ant-menu {
  //padding-top: 5px;
  display: flex;
  height: 100%;
  flex-direction: column;

  a {
    color: #7B88A8;
  }
}

.menu-icon {
  display: flex;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border: 0px;
}

.ant-menu-inline-collapsed {
  text-align: center;
  padding: 0 !important;
  a {
    i {
      margin: 0px !important;
    }
  }
}

.circle-icon {
  margin-right: 15px;
  font-size: smaller;
}

.footer-menu {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: flex-end;

  ul {
    margin-bottom: 1rem;

    li {
      list-style-type: none;
      padding: 1rem 5px 0.5rem 5px;
      cursor: pointer;
      color: #7B88A8;

      i {
        margin-right: 21px !important;
      }
    }
  }

  .btn-group {
    padding: 0rem 0rem 0rem 0rem;
    margin-bottom: 10px;

    .btn {
      border-radius: 4px;
      height: 2rem;
      width: 70px;
      border: 1px solid #f1f3f4;
      background: #f7f9fa;
      padding: 0.5rem 0.25rem;
    }

    .linear-background {
      background: linear-gradient(90deg, #d1fdff 0%, #ffecbc 100%);
    }

    .middle-btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.collapsed-footer {
  ul {
    li {
      border-bottom: 0px;
      text-align: center !important;
    }
  }
}

.description {
  margin: 0px;
  font-size: small;
  font-weight: bolder;
  color: black;
}

.main {
  margin: 0px;
  font-size: smaller;
}

.btn-circle {
  float: right;
  background-color: #ffff;
  // border: 1px solid #abd8ee;
  color: #1092d2;
  border: 0px;
  margin-top: 6px;
  min-width: 2rem;
  height: 2rem;
}

.search-input {
  .input:focus {
    .search-input {
      border: 1px solid blue;
    }
  }
}

.search-drawer-title {
  div {
    flex-grow: 1;
    margin-bottom: 10px;

    button {
      width: 25px;
      margin-left: 10px;
      height: 25px;
      border-radius: 15px;
      padding: 0px;

    }
  }
}

.font-info {
  color: rgb(54 68 88 / 85%);
  font-size: 1rem;
  font-weight: bold;
}

.form-labels {
  margin-bottom: 8px;
}

.invalid-feedback {
  margin-top: 5px;
}

.ant-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: 56px;
  border-radius: 8px;
  &.no-active {
    background: transparent !important;
  }
  &::after {
    display: none;
  }

  & > a {
    margin-left: 15px;
    margin-right: 15px;
  }

  &.m-0.p-0 > a {
    padding: 6px 0 !important;
  }
  // &:not(.not)::after {
  //   right: unset !important;
  //   left: 0 !important;
  //   height: 56px !important;
  //   border-right: 3px solid #6A35FF !important;
  // }
}

.ant-menu-inline-collapsed {
  .ant-menu-item {
    &::after {
      opacity: 0;
    }
    & > a {
      &::before {
        background: transparent;
      }
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}

.icon-container {
  height: 30px;
  min-width: 30px;
  background: transparent;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  // &.sub {
    //height: 25px;
    //min-width: 25px;
    //margin-left: 3px;
    //margin-right: 22px;
    // img {
      //width: 17px;
      //height: 17px;
    // }
  // }
}

.ant-menu-item-selected:not(.not) {
  & > a::before {
    background-color: rgba(63, 135, 245, 0.1);
    border-radius: 8px;
    height: 56px;
  }
  & > a .sidenav-item-icon-active {
    display: block;
  }

  & > a .sidenav-item-icon {
    display: none;
  }

  & > a > .icon-container {
    background: #6A35FF;
  }
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  &.not {
    background: transparent;
  }
}

.ant-menu-inline-collapsed {
  .ant-menu-item-selected:not(.not) {
    background: transparent !important;

    & > a {
      & > .icon-container {
        &.sub::before {
          height: 48px !important;
          border-right-width: 49px !important;
        }
        &::before {
          position: absolute;
          top: -12px;
          border-radius: 8px;
          left: -12px;
          bottom: 0;
          z-index: -1;
          border-right: 56px solid rgba(63, 135, 245, 0.1);
          height: 56px;
          opacity: 1;
          transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
          content: "";
        }
      }
    }
  }
}

.ant-menu {
  color: #7B88A8;
  background: transparent;
  padding: 10px 15px 0 15px;
  // overflow-y: auto;
  // overflow-x: hidden;
}

.ant-menu-item-selected:not(.not) {
  background-color: transparent;
  & > a {
    color: #ffffff !important;
  }
}

.anticon {
  margin-right: unset !important;
}

.side-nav {
  background: #182135 !important;
}

.nav-fixer {
  display: block;
}

.menu-add-btn {
  background: #6A35FF;
  color: #ffffff;
  padding: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.sidenav-item-icon {
  display: block;
}

.sidenav-item-icon-active {
  display: none;
}

::ng-deep .ps-content {
  height: calc(100% - 70px) !important;
}

.sidenav-cont {
  height: 100%;
  overflow-y: auto !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.mc-arrow {
  padding-right: 10px;
  transition: transform .3s cubic-bezier(.645,.045,.355,1);
  &::before, &::after {
    content: "";
    background: #7B88A8;
    position: absolute;
    width: 6px;
    height: 1.5px;
    border-radius: 2px;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
  }

  &.up {
    transform: translateY(-2px);
    &::before {
      transform: rotate(-45deg) translateX(-2.5px);
    }
    &::after {
      transform: rotate(45deg) translateX(2.5px);
    }
  }
  &::before {
    transform: rotate(-45deg) translateX(2.5px);
  }
  &::after {
    transform: rotate(45deg) translateX(-2.5px);
  }
}


.align-center {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 69%);
  // opacity: 0.5;
  z-index: 9999;
  top: 0;
  position: fixed;
  display: flex;
}
.payment-form-modal {
  background-color: #ffff;
  // z-index: 10000;
  // position: absolute;
  // top: 0;
  // right: 0;
  width: 40%;
  height: 100%;
  overflow: scroll;
  border: 0px;
}

.margin-right {
  margin-right: 10px !important;
}