$content-box-bg: rgb(240, 253, 244);

.opacity-1 {
  opacity: 1 !important;
}
.editing {
  background-color: aliceblue;
}
.selected {
  background-color: $content-box-bg;
}
pre {
  font-family: "DM Sans";
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.content-box {
  background: #ffffff;
  //box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 8px rgb(0 0 0 / 0.05);
  border-radius: 10px;
}

.content-box ::ng-deep {
  i.anticon {
    & > svg > path {
      stroke: #7b88a8;
      stroke-width: 1.25rem;
    }
  }
}
